# Phase 1 Code Challenge Review 

_September 23, 2020_ 

TOPICS TO BE COVERED:
- Pandas Operations
- Data Visualization
- Statistics
- Python Data Structure

#### 1. Pandas Operations

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

In [2]:
# import data from a file 
df = sns.load_dataset('iris')

# what if this file is in a directory?

df2 = pd.read_csv('auto-mpg.csv')

In [4]:
# examine the first few elements of it
df2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
# examine the dimensions of it

In [ ]:
# check to see if you have missing values

In [ ]:
# introduce some missing values
df.iloc[2,1:3] = np.nan
df.isnull().sum()

In [ ]:
# drop them

In [ ]:
# convert and modify columns

# create a new column, that is 10 times the sepal length, called sepal length 10

#### 2. Data Visualization

In [ ]:
# let's plot the average pedal length for each species of iris 

y = None
x = None

In [ ]:
figure, ax = plt.subplots(figsize = (10,6))
ax.bar(x, y)
ax.set_title('avg petal length')

In [ ]:
# your turn - create a bar chart using the following dummy data
persons = ['Annie', 'David', 'Lucy','Jin']
height = [60, 65, 67, 62]

plt.bar(persons, height)

In [ ]:
# scatterplot 
figure, ax = plt.subplots()

ax.set_title('sepal length vs sepal width')
ax.set_xlabel('sepal length')
ax.set_ylabel('sepal width')

x = df.sepal_length
y = df.sepal_width

ax.scatter(x, y)

In [ ]:
df.corr()

Can you describe the relationship above?

#### 3. Statistics

In [ ]:
# calculate the mean and median value for sepal length

In [ ]:
# what can you say about the distribution of sepal length and sepal width based on this distribution?

In [ ]:
# which flower has the longest pedal? what is the species of that flower

#### 4. Python Data Structure

In [ ]:
groomer_info = { 'pets':
    [{'Ginger': [{
        'age': 5,
        'type': 'Pitbull',
        'attribute': ['Playful','Cheery','Hyper']
    }],
    'Chloe': [{
        'age': 1,
        'type': 'Maine Coon',
        'teams': ['Alert','Independent','Playful']
    }],
    'Chuck Norris': [{
        'age': 8,
        'type': 'Parrot',
        'teams': ['Talkative','Independent','Cheery']
    }],
    'Joe Rogan': [{
        'age': 2,
        'type': 'Labrador',
        'teams': ['Hyper','Playful','Energetic']
    }]}]
}

In [ ]:
# loop through the dictionary, create a list of names containing all pets' names

In [ ]:
# loop through the collection, create a list that contain all pets' types
# desired output ['Pitbull','Maine Coon','Parrot','Labrador']

In [ ]:
# create a function that returns the names of pets who is older than x years old

# the function should take in a dictionary containing all pet information, 
# and an integer indicating age you want to compare
def pets_older_than(pets, age):
    pass